---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import Card from "../../components/Card.astro";

const posts = (await getCollection("blog")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="zh-cn">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="w-screen-md">
			<section>
				<ul class="flex flex-col">
					{
						posts.map((post) => (
							<Card href={post.slug} frontmatter={post.data} />
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
